[Unit]
Description=Emulation Station
After=systemd-vconsole-setup.service

[Service]
Type=simple
WorkingDirectory=/home/osmc/RetroPie/scripts
ExecStart=/home/osmc/RetroPie/scripts/es-launch.sh
StandardInput=tty-force
StandardOutput=tty
TTYPath=/dev/tty%i

[Install]
WantedBy=multi-user.target
