[Unit]
Description=Monitors a gamepad for a button combination to exit RetroPie and return to Kodi

[Service]
Type=simple
WorkingDirectory=/home/osmc/RetroPie/scripts
ExecStart=/home/osmc/RetroPie/scripts/evdev-exit.py

[Install]
WantedBy=multi-user.target
